body { padding-top: 80px; }
@media ( min-width: 768px ) {
  #banner {
    min-height: 10px;
    border-bottom: none;
  }
  .bs-docs-section {
    margin-top: 8em;
  }
  .bs-component {
    position: relative;
  }
  .bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
  }
  .bs-component .modal-dialog {
    width: 90%;
  }
  .bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
  }
  .nav-tabs {
    margin-bottom: 15px;
  }
  .progress {
    margin-bottom: 10px;
  }
}

#action{
    top: 0;
    left: 0%;
    width: 50px;
    height: 50px;
    background-color:#fff;
    border:#000 3px solid;
    position: absolute;
    -webkit-transition-property:left,width,height,background-color;
    -webkit-transition-duration:1s,1s,1s,1s;
    -webkit-transition-timing-function:linear,linear,linear,linear;
    -moz-transition-property:left,width,height,background-color;
    -moz-transition-duration:1s,1s,1s,1s;
    -moz-transition-timing-function:linear,linear,linear,linear;
    -o-transition-property:left,width,height,background-color;
    -o-transition-duration:1s,1s,1s,1s;
    -o-transition-timing-function:linear,linear,linear,linear;
    transition-property:left,width,height,background-color;
    transition-duration:1s,1s,1s,1s;
    transition-timing-function:linear,linear,linear,linear;
}
#action.motion{
    left: 100%;
    width: 50px;
    height: 50px;
    background-color:#fff;
}
